* {
    box-sizing: border-box;
  }

body{
    background-color: #F5F5F5;
}  
.top{
    display: inline-block;
    text-align: center;
}

.hov{
    transition: all 0.3s;
}

.hov:hover{
    transform: scale(1.3);
    color: green;
}

.container-fluid{
    background-color:#F5F5F5;
}

.glyphicon-align-justify{
    margin: 3 3 3 3;
}

#main-container{
    margin:0 50 0 50 ;
}

.list-group{
    border-radius:0px;
    border:1px solid #fff;
    transition: all 0.3s linear;
}
.list-group:hover {
    -webkit-box-shadow:rgba(0,0,0,0.4) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -moz-box-shadow:rgba(0,0,0,0.4) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -o-box-shadow:rgba(0,0,0,0.4) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    box-shadow:rgba(0,0,0,0.4) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
}

